/* const formStyles = {
    maxWidth: '400px',
    margin: '0 auto',
  };
  
  const inputContainerStyles = {
    marginBottom: '20px',
  };
  
  const labelStyles = {
    display: 'block',
    marginBottom: '5px',
  };
  
  const inputStyles = {
    width: '100%',
    padding: '8px',
    boxSizing: 'border-box',
  };
  
  const buttonContainerStyles = {
    marginTop: '20px',
  };
  
  const buttonStyles = {
    padding: '10px',
    backgroundColor: '#4CAF50',
    color: 'white',
    border: 'none',
    borderRadius: '4px',
    cursor: 'pointer',
  }; */